<div class="container-sm dvglobalgame">
  <app-header-game [userName]="userName"
                   (onLogout)="logout()"></app-header-game>

  <app-score txtLabel="High Score" mode="highScore"></app-score>

  <app-light-bulb 
            [lightState]="lightState"></app-light-bulb>

  <app-score txtLabel="Score" mode="currentScore"></app-score>

  <div class="game-buttons-container">
    <app-button-game modeButton="left"
      (onBtnClick)="gameButtonClick($event)"></app-button-game>
    <app-button-game modeButton="right"
      (onBtnClick)="gameButtonClick($event)"></app-button-game>
  </div>

</div>