/* You can add global styles to this file, and also import other style files */
h2 {
  text-align: center;
}
h2.title-home {
  margin-top: 50px;
}

html, body {
  background-color: #222;
  color: white;
  margin: 0;
  padding: 0;
}

.ico-home {
  text-align: center;
  margin-top: 10vh;
}

.dvglobalgame {
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  height: 100vh;
}

.gameheader-container {
  background-color: #444;
  padding: 12px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.gameheader div {
  flex: 1;
  width: 50%;
}

.highscore-container,
.score-container,
.semaforo-container {
  margin-top: 30px;
  text-align: center;
}
